@charset "utf-8";
/*全局样式*/
*{margin:0;padding:0;list-style:none;border:0;transition:all;-o-transition:all;-ms-transition:all;
  -moz-transition:all;-webkit-transition:all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
a{cursor:pointer;text-decoration: none;color:inherit;}
a:hover{color:#004ea2;transition:0.3s}
body,html{font-family:"微软雅黑";font-size:12px;overflow-x:hidden;line-height:1.6;margin:0 auto;color:#666;height:100%;}
p,li,ul,li,h1,h2,h3,h4,h5,img,form{ margin:0; padding:0; list-style:none;border:0;background:none;font-weight:normal;}
ul{padding-left:0;list-style-type:none;}
h1,h2,h3,h4,h5{line-height:normal;}
.fix:before, .fix:after,.clear{display:table;clear:both;content:'';}
i, em {font-style: normal;}
article, aside, dialog, footer, header, section, nav, figure, menu, audio, canvas, progress, video{display: block;}
img{max-width: 100%;height: auto;vertical-align: top;-ms-interpolation-mode: bicubic;border: 0;}
.imgZoom img{ -moz-transition:all .8s ease 0s; -ms-transition:all .8s ease 0s; -o-transition:all .8s ease 0s; -webkit-transition:all .8s ease 0s;
  transition:all .8s ease 0s;}
.imgZoom{ overflow:hidden; }
.imgZoom:hover img{ -moz-transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1);}
button, input {line-height: normal;appearance: none;-moz-appearance: none;-webkit-appearance:none;}
button, input, textarea,select {font-family:inherit;font-size: 100%;margin: 0;outline: none;appearance:none;-moz-appearance:none;
  -webkit-appearance:none;}
select{font-size: 100%;margin: 0;outline: none;}
.l{float:left;}.r{float:right;}
.wrap{padding: 0 15px;}
.del{text-decoration:line-through;}
/*全站通用样式*/
.transition{-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
.ab{display:flex;display:-webkit-flex;display:-ms-flex;}
.ac{flex:1;-ms-flex:1;-webkit-flex:1;}
*[class*="icon0"]{background-repeat:no-repeat;background-position:0 0;display:block;}
/*首页banner*/
.index-banner{padding:15px 15px;}
.index-banner .van-swipe__indicator{width:8px;height:8px;opacity:1;}
.index-banner .van-swipe__indicator--active{background-color:#b7b7b7;}

/*首页品牌推荐*/
.index-brand,.index-brand-1{color:#fff;position:relative;}
.index-brand-1{padding:15px 0;}
.title-t h2{font-size:16px;color:#888;padding-bottom:4.5px;}
.title-t h2 span{color:#323232;font-weight:bold;}
.ml{padding-left:20px;}
.brand-con{align-items:center;margin-top:7.5px;}
.brand-con-l{position:absolute;width:84%;left:8%;}
.brand-con-l >h3{font-size:12px;}
.brand-con-l >h3 span{font-weight:bold;padding-left:2px;}
.brand-con-l >span{display:block;width:32px;height:2px;background-color:#f7f7f7;margin:6px 0;}
.brand-con-l >h2{font-size:18px;font-weight:bold;padding-bottom:4px;}
.brand-con-l >p{font-size:14px;}
.brand-con-r img{max-width:100%;}
.brand-list{width:100%;margin:12px 0 16px 15px;position:relative;overflow:hidden;}
.row-1 li{margin-bottom:24px;}

/*全球门店*/
.global-list .van-cell{align-items:center;padding:12px 16px;}
.global-list .van-collapse .van-collapse-item{margin-bottom:8px;}
.global-title{color:#323232;font-size:16px;padding-bottom:3px;}
.global-add{color:#888;font-size:14px;}
.add-detail .add-tag .van-tag{font-size:14px;padding:4px 14px; margin-right:4px;}
.add-detail .add-pic{padding:12px 0;}
.add-detail .add-pic img{border-radius:5px;}
.add-detail .add-tel p{align-items:center;font-size:14px;padding-top:10px;}
.add-detail .add-tel p i{padding-right:8px;}
.add-detail .add-btn .van-button--info{  border:none;background-color:#323232;width:100%;border-radius:5px;}

.global{margin:14px 0;}
.global .van-cell{padding:6px 0;align-items: center;}
.global .van-cell__title{text-align:right;width:86px;padding-right:12px;}
.global .van-cell:not(:last-child)::after,.global .van-hairline--top-bottom::after,.global .van-hairline-unset--top-bottom::after{border-bottom:none;}
.global .van-field__value {  border: solid 1px #eee;  padding:8px 12px;  }
/*.global-list .van-collapse-item__title--expanded .global-add{display:none;}*/
.upload .van-uploader__upload{}

.b-child-tab > .van-tabs > .van-tabs__wrap > .van-tabs__nav > .van-tab{padding:0 32px 0 0;text-align:left;flex:inherit;}
.b-child-tab > .van-tabs > .van-tabs__wrap > .van-tabs__nav > .van-tab--active{font-weight:700;}
.b-child-tab > .van-tabs--line > .van-tabs__wrap{border-bottom: solid 1px #eee;padding:0 15px;}
.r-solution .title-t{text-align:center;}

.s-nav{margin:6px 0 0 0;padding:0 15px;justify-content:space-between;}
.s-nav li{width:21%;text-align:center;padding-bottom:8px;margin-left:5%;align-items:center;justify-content:space-around;}
.s-nav li:nth-child(1){margin-left:0;}
.s-nav li a{position:relative;font-size:14px;color: #888;align-items:center;}
.s-nav li a .van-icon{padding-left:5px;}
.s-nav li.active{border-bottom:solid 3px #f4523b;}
.s-nav li.active a{color:#f4523b;}

.tabCard{display:none;}
.tabCard:nth-child(1){display:block;}
.s-search .fa-search{color:#b7b7b7;}
/*品牌馆滑动*/
.classify-list .swiper-slide{text-align:center;}
.classify-list .swiper-slide a{font-size:14px;width:110%;display:block;}

.title-r .van-popup .van-popup__close-icon--top-right{top:8px;}
.message .van-tab{color:#888;font-size:14px;line-height:48px;}
.message .van-tab--active{color:#f4523b;}
.message .van-tabs__wrap{border-bottom:solid 1px #eee;height: 48px;}
.message .van-tabs__line{border-radius:0;}

.detail-cart .van-goods-action-icon__icon{font-size:22px;}
.d-request .van-cell .van-field__control::-webkit-input-placeholder{font-size:13px;}
.d-request .van-cell .van-field__control:-moz-placeholder{font-size:13px;}
.d-request .van-cell .van-field__control::-moz-placeholder{font-size:13px;}
.d-request .van-cell .van-field__control:-ms-input-placeholder{font-size:13px;}

/*设计方案详情索引*/
.sy-list{position:relative;}
.sy-list .van-steps--vertical{padding:0 0 0 21px;}
.sy-list .van-step--finish .van-step__line{display:none;}
.sy-list .van-step--vertical .van-step__circle-container{top:21px;}
.sy-list .van-step__icon--active{font-size:16px;color:#177ef8;}
.sy-list .van-step__title h3{font-size:14px;color:#323232;}
.sy-list .van-step:nth-child(1) .van-step__title h3{color:#888;}
.sy-list .van-step__circle{width:10px;height:10px;border:solid 1px #efefef;background-color:#fff;}
.sy-list .van-step:nth-child(1) .van-step__circle{background-color:#efefef;}
.sy-list .van-step__title--active h3{color:#177ef8;}
.sy-list:before{content:'';width:4px;top:23px;left:4px;background-color: #efefef;display:block;height:100%;
  position: absolute;
}
/*设计师带单*/
.information-list{margin:6px 0;padding:0 15px;}
.information-list .van-cell{padding:6px 0;align-items: center;}
.information-list .van-cell__title{text-align:right;width:78px;padding-right:12px;}
.information-list .van-cell__title em{color:#f4523b;padding-right:2px;}
.information-list .van-cell:not(:last-child)::after,.global .van-hairline--top-bottom::after,.global .van-hairline-unset--top-bottom::after{border-bottom:none;}
.information-list .van-field__value {border: solid 1px #eee;padding:8px 8px;}
.information-list .van-field__control{font-size:13px;line-height:1.4;}
.information-list .van-field__control::-webkit-input-placeholder {color:#b7b7b7;}
.information-list .van-field__control:-moz-placeholder{color:#b7b7b7;}
.information-list .van-field__control::-moz-placeholder{color:#b7b7b7;}
.information-list .van-field__control:-ms-input-placeholder{color:#b7b7b7;}
.van-picker__cancel, .van-picker__confirm{color:#6d5f5f;}

.information-list .van-checkbox__icon,.information-list .van-checkbox__icon .van-icon{width:16px;height:16px;font-size:14px;}
.information-list .van-checkbox__icon{line-height:16px;margin:4px 0;padding-left:78px;}
.information-list .van-checkbox__label{margin-left: 24px;line-height: 16px;color:#888;}
.information-list .van-field__button {position: absolute;right: 0;padding:5px 0;}
.information-list .van-button--primary{background-color:#f4523b;border:solid 1px #f4523b;}
.information-list .van-button--small{height:39px;line-height:37px;border-radius:0;}
.t-remark.van-cell{align-items:inherit!important;min-height:140px;}
.d-information > .van-button{margin:6px 0 12px 0;}
.upload .van-uploader__upload{border-radius:4px;}
.upload .van-uploader__upload-text{margin-top:4px;}
.d-request .van-field--min-height .van-field__control{min-height:100px;}

.sign-list .van-cell__title{width:68px;}
.sign-list .van-checkbox__icon{padding-left:68px;}

/*.van-toast{background-color:#2f2f2f!important;width:56%!important;}*/

.person-id .id-list .id-item .van-uploader__upload{width:139px;}
.person-id .id-list .id-item .van-uploader__upload-icon{font-size:28px;color:#fff;}
.person-id .id-list:nth-child(1) .id-item .van-uploader__upload{background:url("../../assets/image/zm.png")#e7ebf5 no-repeat center center;
 background-size:cover;
}
.person-id .id-list:nth-child(2) .id-item .van-uploader__upload{background:url("../../assets/image/fm.png")#e7ebf5 no-repeat center center;
  background-size:cover;
}
/*招商加盟*/
.apply-btn .van-popup__close-icon--top-right{top:6px;}
/*售后上传*/
.upload-1 .van-uploader__upload{border-radius:0;border:solid 1px #ddd;background-color:inherit;width:92px;height:92px;}
.upload-1 .van-uploader__upload-text{margin-top:4px;font-size:13px;padding:0 12px;text-align: center;line-height: 1.3;}
.upload-1 .van-uploader__preview-image{border-radius:0;width:92px;height:92px;}
.lx .van-field__label{width:68px;}
