@charset "utf-8";
/*全局样式*/
*{margin:0;padding:0;list-style:none;border:0;transition:all;-o-transition:all;-ms-transition:all;
  -moz-transition:all;-webkit-transition:all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
a{cursor:pointer;text-decoration: none;color:inherit;}
a:hover{color:#004ea2;transition:0.3s}
body,html{font-family:"微软雅黑";font-size:12px;overflow-x:hidden;line-height:1.8;max-width:1920px;margin:0 auto;color:#666;height: 100%;}
p,li,ul,li,h1,h2,h3,h4,h5,img,form{ margin:0; padding:0; list-style:none;border:0;background:none;font-weight:normal;}
ul{padding-left:0;list-style-type:none;}
h1,h2,h3,h4,h5{line-height:normal;}
.fix:before, .fix:after,.clear{display:table;clear:both;content:'';}
i, em {font-style: normal;}
article, aside, dialog, footer, header, section, nav, figure, menu, audio, canvas, progress, video{display: block;}
img{max-width: 100%;height: auto;vertical-align: top;-ms-interpolation-mode: bicubic;border: 0;}
.imgZoom img{ -moz-transition:all .8s ease 0s; -ms-transition:all .8s ease 0s; -o-transition:all .8s ease 0s; -webkit-transition:all .8s ease 0s;
  transition:all .8s ease 0s;}
.imgZoom{ overflow:hidden; }
.imgZoom:hover img{ -moz-transform:scale(1.1,1.1); -ms-transform:scale(1.1,1.1); -o-transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1);}
button, input {line-height: normal;appearance: none;-moz-appearance: none;-webkit-appearance:none;}
button, input, textarea,select {font-family:inherit;font-size: 100%;margin: 0;outline: none;appearance:none;-moz-appearance:none;
  -webkit-appearance:none;}
select{font-size: 100%;margin: 0;outline: none;}
.l{float:left;}.r{float:right;}
.wrap{padding: 0 15px;}
/*全站通用样式*/
.transition{-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
.ab{display:flex;display:-webkit-flex;display:-ms-flex;}
.ac{flex:1;-ms-flex:1;-webkit-flex:1;}
*[class*="icon0"]{background-repeat:no-repeat;background-position:0 0;display:block;}
/*首页banner*/
.index-banner{padding:12px 15px;}
.index-banner .van-swipe__indicator{width:8px;height:8px;opacity:1;}
.index-banner .van-swipe__indicator--active{background-color:#b7b7b7;}

/*首页品牌推荐*/
.index-brand{color:#fff;position:relative;}
.title-t h2{font-size:16px;color:#888;padding-bottom:12px;}
.title-t h2 span{color:#323232;font-weight:bold;}
.ml{padding-left:20px;}
.brand-con{align-items:center;}
.brand-con-l{position:absolute;width:84%;left:8%;}
.brand-con-l >h3{font-size:12px;}
.brand-con-l >h3 span{font-weight:bold;padding-left:2px;}
.brand-con-l >span{display:block;width:32px;height:2px;background-color:#f7f7f7;margin:6px 0;}
.brand-con-l >h2{font-size:18px;font-weight:bold;padding-bottom:4px;}
.brand-con-l >p{font-size:14px;}
.brand-con-r img{max-width:100%;}
.brand-list{width:100%;margin:12px 0 16px 15px;position:relative;overflow:hidden;}
.row-1 li{margin-bottom:24px;}

/*全球门店*/
.global-list .van-cell{align-items:center;padding:12px 16px;}
.global-list .van-collapse .van-collapse-item{margin-bottom:8px;}
.global-title{color:#323232;font-size:16px;padding-bottom:3px;}
.global-add{color:#888;font-size:14px;}
.add-detail .add-tag .van-tag{font-size:14px;padding:4px 14px; margin-right:4px;}
.add-detail .add-pic{padding:12px 0;}
.add-detail .add-pic img{border-radius:5px;}
.add-detail .add-tel p{align-items:center;font-size:14px;padding-top:10px;}
.add-detail .add-tel p i{padding-right:8px;}
.add-detail .add-btn .van-button--info{  border:none;background-color:#323232;width:100%;border-radius:5px;}

.global{margin:14px 0;}
.global .van-cell{padding:6px 0;align-items: center;}
.global .van-cell__title{text-align:right;width:86px;padding-right:12px;}
.global .van-cell:not(:last-child)::after,.global .van-hairline--top-bottom::after,.global .van-hairline-unset--top-bottom::after{border-bottom:none;}
.global .van-field__value {  border: solid 1px #eee;  padding:8px 12px;  }
/*.global-list .van-collapse-item__title--expanded .global-add{display:none;}*/
.upload .van-uploader__upload{}

.b-child-tab .van-tab{padding:0 10px 0 0;text-align:left;}
.b-child-tab .van-tab--active{font-weight:700;}
.b-child-tab .van-tabs--line .van-tabs__wrap{height:48px;padding:0 15px;}
.r-solution .title-t{text-align:center;}
