@charset "utf-8";
/*全局样式*/
*{margin:0;padding:0;list-style:none;border:0;transition:all;-o-transition:all;-ms-transition:all;
  -moz-transition:all;-webkit-transition:all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
a{cursor:pointer;text-decoration: none;color:inherit;}
a:hover{color:#f12c20;transition:0.3s}
body,html{font-family:"微软雅黑";font-size:13px;overflow-x:hidden;line-height:1.6;margin:0 auto;color:#666;height:100%;}
p,li,ul,li,h1,h2,h3,h4,h5,img,form{ margin:0; padding:0; list-style:none;border:0;background:none;font-weight:normal;}
ul{padding-left:0;list-style-type:none;}
h1,h2,h3,h4,h5{line-height:normal;}
.fix:before, .fix:after,.clear{display:table;clear:both;content:'';}
i, em {font-style: normal;}
article, aside, dialog, footer, header, section, nav, figure, menu, audio, canvas, progress, video{display: block;}
img{max-width: 100%;height: auto;vertical-align: top;-ms-interpolation-mode: bicubic;border: 0;}
button, input {line-height: normal;appearance: none;-moz-appearance: none;-webkit-appearance:none;}
button, input, textarea,select {font-family:inherit;font-size: 100%;margin: 0;outline: none;appearance:none;-moz-appearance:none;
  -webkit-appearance:none;}
select{font-size: 100%;margin: 0;outline: none;}
.l{float:left;}.r{float:right;}
.wrap{padding: 0 15px;}
.del{text-decoration:line-through;}
/*禁止长按链接与图片弹出菜单*/
img{ -webkit-touch-callout: none; }
/*全站通用样式*/
.transition{-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
.ab{display:flex;display:-webkit-flex;display:-ms-flex;}
.ac{flex:1;-ms-flex:1;-webkit-flex:1;}
*[class*="icon0"]{background-repeat:no-repeat;background-position:0 0;display:block;}
/*头部head*/
.head{width:100%;height:50px;background-color:#1b1b1b;position:absolute;top:0;left:0;z-index:9999;}
.head .wrap{display:flex;align-items:center;justify-content:center;}
.head .head-ss{position: absolute;left:4%;height:22px;line-height:22px;}
.head .head-ss i{font-size:18px;font-weight:500;color:#fff;}
.head .head-ss i.van-icon{font-size:22px;margin-top:0px;margin-left:-5px;}
.head .head-logo{text-align:center;margin:0 8%;height:50px;display: flex;
  align-items: center;
  justify-content: center;font-size:18px;color:#fff;}
.head .head-logo a{display:block;height:18px;}
.head .head-logo a img{height:18px;}
.head .menu-ico{width:20px;height:21px;padding:2px 0;position:absolute;right:4%;cursor:pointer;z-index:180;}
.head .menu-ico span{background:#fff;position:absolute;width:72%;height:2px;left: 0;top:10px;overflow: hidden;text-indent:200%;
  -webkit-transition: opacity 0.25s;transition: opacity 0.25s;border-radius:2px;}
.head .menu-ico::before,.menu-ico::after {content: '';position: absolute;height:2px;width:100%;left:0;top:50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;background:#fff;border-radius:2px;
}
.head .menu-ico::before {-webkit-transform: translate3d(0, -9px, 0);transform: translate3d(0, -9px, 0);}
.head .menu-ico::after {-webkit-transform: translate3d(0, 9px, 0);transform: translate3d(0, 9px, 0);width:90%;}

.head .active.menu-ico span {opacity: 0;}
.head .active.menu-ico::before {-webkit-transform: rotate3d(0, 0, 1, 45deg);transform: rotate3d(0, 0, 1, 45deg);}
.head .active.menu-ico::after {-webkit-transform: rotate3d(0, 0, 1, -45deg);transform: rotate3d(0, 0, 1, -45deg);width:100%;}
.head .p-btn{padding:2px 0;position:absolute;right:4%;cursor:pointer;z-index:180;top:50%;transform: translate(0, -50%)}
.head .p-btn a{font-size:16px;color:#fff;}
.head .p-btn a i{font-size:20px;color:#fff;}

.slideNav{position:absolute;top:100%;width:100%;background-color:rgba(50,50,50,0.9);z-index:175;padding:12px 0;}
.slideNav ul{width:92%;height:100%;z-index:99;position: relative;text-align:center;margin:0 auto;}
.slideNav li{width:20%;color:#fff;padding:0 6px;}
.slideNav li a{display:block;}
.slideNav li a span,.slideNav li p span{font-size:13px;color:#fff;margin-top:2px;display:inline-block;}
.slideTran-enter-active{transition: all .5s ease;top:100%;}
.slideTran-enter{top:0;}
.slideTran-leave-active {transition: all .5s ease;top:-100%;}
.slideTran-leave{top:0;}
.slideNav li img,.slideNav li i{font-size:32px;color:#323232;width:50px;height:50px;background-color:#fff;
  border-radius:50%;line-height:50px;display:block;margin:0 auto;
}
/*首页banner*/
.container{margin-top:50px;}
.index-banner{padding:12px 15px;}
.index-banner .van-swipe__indicator{width:8px;height:8px;opacity:1;}
.index-banner .van-swipe__indicator--active{background-color:#b7b7b7;}
.index-banner .van-swipe-item a{display:block;}
.index-banner .van-swipe-item a img{border-radius:3px;}
/*首页品牌推荐*/
.index-brand,.index-brand-1{color:#fff;position:relative;}
.index-brand-1{padding:15px 0;}
.title-t{align-items:center;padding-bottom:6px;}
.title-t h2{font-size:16px;color:#888;}
.title-t h2 span{color:#323232;font-weight:bold;}
.ml{padding-left:20px;}
.brand-con{align-items:center;margin-top:6px;}
.brand-con-l{position:absolute;width:84%;left:8%;}
.brand-con-l >h3{font-size:12px;}
.brand-con-l >h3 span{font-weight:bold;padding-left:2px;}
.brand-con-l >span{display:block;width:32px;height:2px;background-color:#f7f7f7;margin:6px 0;}
.brand-con-l >h2{font-size:18px;font-weight:bold;padding-bottom:4px;}
.brand-con-l >p{font-size:14px;}
.brand-con-r img{max-width:100%;}
.brand-list{width:100%;margin:12px 0 15px 15px;position:relative;overflow:hidden;}
.row_1{padding:6px 0;}
.row_1 li{margin-bottom:12px;}
.row_1 li a{display:block;}
.row_1 li a img{border-radius:5px;}

/*全球门店*/
.global-list .van-cell{align-items:center;padding:12px 16px;border-radius:3px;}
.global-list .van-collapse .van-collapse-item{margin-bottom:8px;}
.global-title{color:#323232;font-size:18px;padding-bottom:3px;}
.global-add{color:#888;font-size:14px;}
.add-detail .add-tag .van-tag{font-size:14px;padding:4px 14px; margin-right:8px;margin-bottom:6px;}
.add-detail .add-pic{padding:6px 0 12px 0;}
.add-detail .add-pic img{border-radius:5px;}
.add-detail .add-tel p{align-items:center;font-size:14px;padding-top:6px;}
.add-detail .add-tel p i{padding-right:8px;}
.add-detail .add-btn .van-button--info{border:none;background-color:#323232;width:100%;border-radius:5px;font-size:16px;}

.global{margin:14px 0;}
.global .van-cell{padding:6px 0;align-items: center;}
.global .van-cell__title{text-align:right;width:82px;color:#2f2f2f;}
.global .van-cell:not(:last-child)::after,.global .van-hairline--top-bottom::after,
.global .van-hairline-unset--top-bottom::after{border-bottom:none;}
.global .van-field__value {  border: solid 1px #eee;  padding:8px 12px;  }
.global-list .van-collapse-item__title--expanded .global-add{display:none;}
.global-list .van-collapse-item__title--expanded i{transform:rotate(180deg);
  -ms-transform:rotate(180deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 	/* Opera */}
.global-list .van-collapse-item i{font-size:18px;}
.global .van-cell:nth-child(1) .van-field__value{background-color:#f7f7f7;}
.global .van-cell .van-field__control::-webkit-input-placeholder{color: #b4b4b4;}
.global .van-cell .van-field__control:read-only{ color:#b4b4b4;}
.global .van-field__right-icon .van-icon{font-size:18px;}
.global .van-cell--required::before{right:8px;z-index:10;}
/*品牌馆设计*/
.b-child-tab > .van-tabs > .van-tabs__wrap > .van-tabs__nav > .van-tab{padding:0 32px 0 0;text-align:left;flex:inherit;}
.b-child-tab > .van-tabs > .van-tabs__wrap > .van-tabs__nav >{padding-bottom:0px;}
.home-child > .van-tabs > .van-tabs__wrap > .van-tabs__nav > .van-tab{padding:0 20px 0 0;font-size:16px;}
.b-child-tab > .van-tabs > .van-tabs__wrap > .van-tabs__nav > .van-tab--active{font-weight:700;}
.b-child-tab > .van-tabs > .van-tabs__wrap > .van-tabs__nav > .van-tab{font-size:16px;}
.b-child-tab > .van-tabs--line > .van-tabs__wrap{border-bottom:none;padding:0 15px;}
.b-child-tab > .van-tabs--line > .van-tabs__wrap .van-tabs__nav--line{border-bottom: solid 1px #eee;height:99%;border-color:#eee!important;}
.home-child > .van-tabs--line > .van-tabs__wrap{border:none;}
.home-child > .van-tabs--line > .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{border:none;}
.r-solution .title-t{text-align:center;}
.home-child  .brand-con{margin-top:0;}
.brand-con a{display:block;}
.brand-con a img,.b-child-tab .van-swipe-item a img{border-top-left-radius:6px;border-top-right-radius:6px;}

.s-nav{margin:6px 0 0 0;padding:0 15px;justify-content:space-between;}
.s-nav li{width:21%;text-align:center;padding-bottom:8px;margin-left:5%;align-items:center;justify-content:space-around;}
.s-nav li:nth-child(1){margin-left:0;}
.s-nav li a{position:relative;font-size:14px;color: #888;align-items:center;}
.s-nav li a .van-icon{padding-left:5px;}
.s-nav li.active{border-bottom:solid 3px #f4523b;}
.s-nav li.active a{color:#f4523b;}

.tabCard{display:none;}
.tabCard:nth-child(1){display:block;}
.s-search .fa-search{color:#b7b7b7;}
/*品牌馆滑动*/
.classify-list .swiper-slide{width:auto!important;}
.classify-list .swiper-slide a{font-size:14px;}

.title-r .van-popup .van-popup__close-icon--top-right{top:8px;}
.message .van-tab{color:#888;font-size:14px;line-height:48px;}
.message .van-tab--active{color:#f4523b;}
.message .van-tabs__wrap{border-bottom:solid 1px #eee;height:48px;display:none;}
.message .van-tabs__line{border-radius:0;}

.detail-cart .van-goods-action-icon__icon{font-size:22px;}
.d-request .van-cell .van-field__control::-webkit-input-placeholder{font-size:13px;}
.d-request .van-cell .van-field__control:-moz-placeholder{font-size:13px;}
.d-request .van-cell .van-field__control::-moz-placeholder{font-size:13px;}
.d-request .van-cell .van-field__control:-ms-input-placeholder{font-size:13px;}

/*设计方案详情索引*/
.sy-list{position:relative;margin-top:12px;}
.sy-list .sy-item{background: url(../../assets/image/bg-003.jpg) repeat-y 4px top;}
.sy-list .sy-item-f{font-size:14px; color:#b7b7b7;display: block; padding-left:28px;line-height:12px;
  background: url(../../assets/image/icon-13.png) no-repeat left top; }
.sy-list .sy-item .sy-item-nav{background: url(../../assets/image/icon-12.png) no-repeat left center;
  display: block;  margin:16px 0;padding-left:28px;font-size: 14px;  color: #323232;}
.sy-list .sy-item .sy-item-active{background-image: url(../../assets/image/icon-14.png);color:#177ef8;}
/*设计师带单*/
.information-list{margin:6px 0;padding:0 15px;}
.information-list .van-cell{padding:6px 0;align-items: center;}
.information-list .van-cell__title{text-align:right;width:78px;padding-right:12px;margin-right:0;}
.information-list .van-cell__title em{color:#f4523b;padding-right:2px;}
.information-list .van-cell:not(:last-child)::after,.global .van-hairline--top-bottom::after,
.global .van-hairline-unset--top-bottom::after{border-bottom:none;}
.information-list .van-field__value {border: solid 1px #eee;padding:8px 8px;}
.information-list .van-field__control{font-size:13px;line-height:1.4;}
.information-list .van-field__control::-webkit-input-placeholder {color:#b7b7b7;}
.information-list .van-field__control:-moz-placeholder{color:#b7b7b7;}
.information-list .van-field__control::-moz-placeholder{color:#b7b7b7;}
.information-list .van-field__control:-ms-input-placeholder{color:#b7b7b7;}
.van-picker__cancel, .van-picker__confirm{color:#6d5f5f;}

.information-list .van-checkbox__icon,.information-list .van-checkbox__icon .van-icon{width:16px;height:16px;font-size:14px;}
.information-list .van-checkbox__icon{line-height:16px;margin:4px 0;padding-left:78px;}
.information-list .van-checkbox__label{margin-left: 24px;line-height: 16px;color:#888;}
.information-list .van-field__button {position: absolute;right: 0;padding:5px 0;}
.information-list .van-button--primary{background-color:#f4523b;border:solid 1px #f4523b;}
.information-list .van-button--small{height:33px;line-height:31px;border-radius:0;}
.t-remark.van-cell{align-items:inherit!important;min-height:140px;}
.d-information > .van-button{margin:6px 0 12px 0;border-radius:5px;}
/*全球门店上传样式*/
.upload .van-uploader__upload{border-radius:4px;}
.upload .van-uploader__upload-text{margin-top:4px;}
.upload-2 .van-uploader__upload{border-radius:0;border:solid 1px #dbdbdb;background-color:inherit;width:82px;height:82px;}
.d-request .van-field--min-height .van-field__control{min-height:85px;}

.sign-list .van-cell__title{width:68px;}
.sign-list .van-checkbox__icon{padding-left:68px;}

/*.van-toast{background-color:#2f2f2f!important;width:56%!important;}*/

.person-id .id-list .id-item .van-uploader__upload{width:139px;}
.person-id .id-list .id-item .van-uploader__upload-icon{font-size:28px;color:#fff;}
.person-id .id-list:nth-child(1) .id-item .van-uploader__upload{background:url("../../assets/image/zm.png")#e7ebf5 no-repeat center center;
 background-size:cover;
}
.person-id .id-list:nth-child(2) .id-item .van-uploader__upload{background:url("../../assets/image/fm.png")#e7ebf5 no-repeat center center;
  background-size:cover;
}
/*招商加盟*/
.apply-btn .van-popup__close-icon--top-right{top:6px;}
/*售后上传*/
.upload-1 .van-uploader__upload{border-radius:0;border:solid 1px #ddd;background-color:inherit;width:92px;height:92px;}
.upload-1 .van-uploader__upload-text{margin-top:4px;font-size:13px;padding:0 12px;text-align: center;line-height: 1.3;}
.upload-1 .van-uploader__preview-image{border-radius:0;width:92px;height:92px;}
.lx .van-field__label{width:68px;}

/*设计方案*/
.design-tab > .van-tabs > .van-tabs__wrap > .van-tabs__nav > .van-tab{padding:0 28px 0 0;text-align:left;flex:inherit;
  font-size:16px;line-height:48px;}
.design-tab > .van-tabs > .van-tabs__wrap > .van-tabs__nav > .van-tab--active{font-weight:700;}
.design-tab > .van-tabs--line > .van-tabs__wrap{border-bottom: solid 1px #eee;padding:0 15px;height:48px;}
.design-tab .van-tabs__nav--line{padding-bottom:0;}
.design-tab .van-tab i{margin-left:1px;vertical-align:0px;color:#f4523b;}
/*设计方案筛选*/
.sieve-list .van-popup{background-color:#eee;padding:12px 8px;}
.sieve-list .van-cell__value{display:none;}
.sieve-list .van-cell{width:25%;background-color:inherit;float:left;padding:6px 4px;text-align:center;color:#888;font-size:13px;}
.sieve-list .van-cell .van-cell__title{padding:2px 0;}
.sieve-list .van-cell:first-child .van-cell__title{background-color:#fff;border-radius:25px;}

.s-select .van-tab{color:#888;}
.s-select .van-tab--active{color:#f4523b;}
.s-select .van-tab__text .fa-sort-desc{vertical-align: 3px;}
.s-select .van-tab__text .fa-sort-asc{vertical-align: -3px;}
.s-select .van-tab--active .van-tab__text i{padding:3px;}
.s-select .van-tabs__line{border-radius:0;}

/*.u-select .van-tab:nth-child(3) .van-tab__text  .fa-sort-desc{transform:rotate(180deg);*/
/*-ms-transform:rotate(180deg); 	!* IE 9 *!*/
/*-moz-transform:rotate(180deg); 	!* Firefox *!*/
/*-webkit-transform:rotate(180deg); !* Safari 和 Chrome *!*/
/*-o-transform:rotate(180deg); 	!* Opera *!vertical-align: -1.5px;}*/

/*底部高度*/
.common-footer-wrap{height:50px;}
.common-footer-wrap .van-info{top:6px;right:2px;}
.common-footer-wrap .van-tabbar-item__icon{margin-bottom:0;}
/*底部固定按钮*/
.foot-item{text-align:center;}
.foot-item .van-tabbar-item__text{margin-top:4px;}
.foot-item .text{font-size:13px;}
.foot-item .van-tabbar-item__icon img{height: 24px;}
/*登录menu*/
.common-login{position:absolute;top:0;left:0;padding:0 12px;z-index:9999;width:100%;}
.common-login .van-nav-bar__left{left:0;color:#323232;}
.common-login .van-nav-bar__text{padding:0 7px;color:#323232;}
.common-login .van-nav-bar .van-icon{color:#323232;font-size:20px;}
.common-login .van-nav-bar__title img{height:18px;vertical-align: middle;}
/*我的地址管理*/
.address-list .van-address-item .van-radio__icon--checked .van-icon{background-color: #f4523b;border-color: #f4523b;}
.address-list .van-address-item__name{font-size:15px;}
/*我的收藏夹*/
.collect-list .van-tab{font-size:16px;}
.collect-list .van-tab--active{color:#f4523b;}
/*我的信息中心*/
.p-information .van-cell:nth-child(1) .van-cell__value{display:none;}
.p-information .van-cell__value span{width:16px;height:16px;background-color:#f4523b;border-radius:50%;
  color: #fff;text-align:center;line-height: 16px;font-size:13px;display:inline-flex;    align-items: center;
  justify-content: center;}
.p-information .van-cell{padding:10px 15px;margin:12px 0;}
.p-information .van-cell:not(:last-child)::after{border:none;}
.p-information .van-cell .iconfont{font-size:24px;padding-right:8px;color:#bcbcbc;}
.p-information .van-cell .van-cell__title{font-size:15px;}
.p-information .van-cell .van-cell__label{margin-top:0;font-size:13px;color:#bcbcbc;}
/*我的订单切换*/
.my-order .van-tab--active{color:#f4523b;}
.my-order .van-tabs__line{border-radius:0;}
/*我的认证资料*/
.identify-list{margin:6px 0;padding:0 15px;}
.identify-list .van-cell{padding:6px 0;align-items: center;font-size: 15px;}
.identify-list .van-cell__title{width:90px;padding-right:6px;}
.identify-list .van-cell__title em{color:#f4523b;padding-right:2px;}
.identify-list .van-cell:not(:last-child)::after,.global .van-hairline--top-bottom::after,.global .van-hairline-unset--top-bottom::after
{border-bottom:none;}
.identify-list .van-field__value {border-bottom: solid 1px #eee;padding:8px 0;}
.identify-list .van-field__control{font-size:14px;line-height:1.4;}
.identify-list .van-field__control::-webkit-input-placeholder {color:#b7b7b7;}
.identify-list .van-field__control:-moz-placeholder{color:#b7b7b7;}
.identify-list .van-field__control::-moz-placeholder{color:#b7b7b7;}
.identify-list .van-field__control:-ms-input-placeholder{color:#b7b7b7;}

.identify-id .id-list .id-item .van-uploader{width:100%;}
.identify-id .id-list .id-item .van-uploader__upload{width:100%;display:flex;height:192px;text-align:center;}
.identify-id .id-list .id-item .van-uploader__upload-icon{font-size:44px;color:#fff;}
.identify-id .id-list:nth-child(1) .id-item .van-uploader__upload{background:url("../../assets/image/zm01.png")#e7ebf5 no-repeat center center;
  background-size:cover;
}
.identify-id .id-list:nth-child(2) .id-item .van-uploader__upload{background:url("../../assets/image/fm01.png")#e7ebf5 no-repeat center center;
  background-size:cover;
}
.identify-id .id-list:nth-child(3) .id-item .van-uploader__upload{background:url("../../assets/image/zy.png")#e7ebf5 no-repeat center center;
  background-size:cover;
}
.identify-id .id-list:nth-child(4) .id-item .van-uploader__upload{background:url("../../assets/image/zz.png")#e7ebf5 no-repeat center center;
  background-size:cover;
}
/*购物车订单详情*/
.product-card .van-cell .van-field__right-icon{margin-right:-4px;padding:0 0 0 5px;}
/*加载更多*/
.loading{padding:12px 12px;text-align:center;}
/*品类列表*/
/*.list-container{margin-top:110px;}*/
/*.list-container .actives{border-bottom:1px solid #3190e8; color: #3190e8;}*/
/*.list-container .content{width: 100%;}*/
/*.list-container .left{top:110px;float:left;width:18%;height:100%;position:fixed;}*/
/*.list-container .left ul{list-style: none;}*/
/*.list-container .left ul li{padding-bottom:20px;text-align: center;font-size:14px;}*/
/*.list-container .active{color:#f4523b;}*/
/*.list-container .right{float:right; width:78%;height:100%;}*/
/*.list-container .right ul{list-style: none;}*/
/*.list-container .class-title{ padding:7px 10px;background:#f4523b; color:#fff;font-size:14px;}*/
.no_sroll {margin:0 auto; width:100%;height:100%;padding:110px 15px 0 15px; overflow:hidden; position:relative; display:flex;}
.newHeight {display:block; overflow: hidden; background:#fff; position:relative; width:78%;margin-left:4%;overflow-y:scroll;
  overflow-x:hidden;-webkit-overflow-scrolling: touch;}
.newHeight .cu-items { position: relative; display: flex; float:left; flex-direction:column; align-items: center;
  width:31%; height:110px; margin-left:3.5%; margin-bottom:10px;}
.newHeight .cu-items:nth-of-type(3n-2) { margin-left:0;}
.cu-items .storeL { width:85px; height:85px; position: relative;}
.cu-items .storeL img { width:85px; height:85px;}
.cu-items .text {font-size:14px;margin-top:5px; color:#323232;}
.newHeight .proList { width:100%; display:flex; flex-direction:column; position:relative;}
.newHeight .proList .r_top { height:50px;display:flex;justify-content:space-between;align-items:center;}
.newHeight .proList .r_top .leftName { line-height:50px; font-size:14px; text-align:left; color:#888;}
.theFixed {height:60px;display:flex;justify-content:space-between;align-items:center;}
.theFixed .leftName {line-height:50px; font-size:16px; text-align:left; color:#666; margin-left:10px;}

.tabNav { display: block;width:18%;overflow: hidden; position:relative; overflow-y:scroll; overflow-x:hidden; -webkit-overflow-scrolling: touch;}
.tabNav .nav_list { display:flex; width:100%;}
.tabNav .nav_li { font-size:14px;color:#888; text-align:center;padding-bottom:24px;width:100%; flex-shrink: 0; position:relative; display: flex; justify-content: center; align-items: center;}
.tabNav .nav_li .imgLi { height:16px; position: absolute; left:0; top: 22px;}
.checkIn { color:#f4523b!important;}
.isFixed {height:60px;line-height:60px;font-size:16px;text-align:left;color:#666;position:fixed;width:70%;left:27%;
  background: #fff;  z-index: 19;
}
.isHide {position:fixed;height:60px;  line-height:60px;  font-size:16px;  text-align:left;  color:#666;  width:70%;  left:27%;  background: #fff;
  z-index: 19;
}
/*列表滑动去除隐藏*/
.design-list .van-swipe-item{flex-shrink:inherit; -webkit-flex-shrink:inherit;}
.van-toast{width:auto;min-height:76px;}
.van-toast .van-toast__icon{font-size:36px;}
/*.van-toast .van-toast__text {font-size:13px;}*/
/*商品详情*/
.detail-choose .van-sku-messages{display:none;}
.detail-choose .van-sku-actions{padding:8px 0;}
.detail-choose .van-sku-actions .van-button{border-radius:0;}
.detail-choose .van-sku-actions .van-button--warning{background:#323232;}
.detail-choose .van-sku-actions .van-button--danger{background:#f4523b;}
/*图片圆角问题*/
.list .van-tree-select__nav,.list .van-tree-select .van-sidebar-item{background-color:inherit;}
.design-list .van-swipe-item > a{display:block;overflow:hidden;}
.design-list .van-swipe-item a img{width:100%;}

.van-search__action:active{background-color:inherit;}
.s-search .icon-sousuo{color:#b7b7b7;}
.detail-choose .van-popup__close-icon{color:#909090;padding:1px;border:solid 1.5px #909090;border-radius:50%;
  font-size:18px;
}
.address-list .van-address-item{padding:16px 16px;}
.design-share .van-popup__close-icon{color:#2d2d2d;}
.card a >.van-image img{border-top-left-radius:3px;border-top-right-radius:3px;}
.detail-choose .van-sku-header-item{color:#323232;}
.global .van-cell__title span em{color:#f4523b;padding-right:2px;}
.userId .van-field__control{color:#999;}
.feedback .van-field__label{width:7.2em;}
.detail-choose .van-sku__price-symbol{position:relative;bottom:2px;}
.sj-jl .van-cell__value span{display:inline-flex;width:16px;height:16px;border-radius:50%;align-items:center;justify-content:center;
  background-color:#f4523b;color:#fff;font-size:13px;
}
.sj .van-field__label{
  color:#1b1b1b;
  margin-right:4px;
}
.see-detail .van-button--default,.see-detail .van-button::before{background-color:inherit;border:none;}
.see-detail .detail-con,.active05 .van-button--block{display:none;}
.active05 .detail-con{display:block;}
.list .van-list__error-text, .list .van-list__finished-text,.list .van-list__loading{line-height:20px;}
.date-item .van-row{flex-direction:row;flex-wrap:wrap;}
.list .van-row .van-col:nth-child(odd){padding-right:7.5px;}


